@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#menu-cabecera{
  width: 100%;
  background-color: #171717;
  position: fixed;
  height: 30px;
  line-height: 20px;
}

.cabecera a:hover{
  text-decoration: underline;
  text-decoration-color: #fff;
}

.font-size12{
  font-size: 0.7rem;
}

.white{
  color: white;
}

.flag{
  width: 1rem;
}

.email-hidden{
  padding-left: 1.7rem;
}

.fa-envelope{
  position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.fa-envelope:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #fff;
  font-size: 20px;
  padding-right: 1rem;
  position: absolute;
  top: -15px;
  left: 0;
}

.fa-twitter-square:before {
  content: "\f081";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 30px;
  padding-right: 0.5rem;
}
.fa-facebook-square:before {
  content: "\f082";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 30px;
  padding-right: 0.5rem;
}

.fa-pinterest-square:before {
  content: "\f0d3";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 30px;
  padding-right: 0.5rem;
}
.fa-instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 30px;
  padding-right: 0.5rem;
}
@media (max-width: 640px){
  .sliders{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/*.sliders img{
  height: 450px;
}*/

@media (min-width: 640px){
  #slider{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 640px){
  .line-gray{
    border-top: solid 1px rgba(193, 195, 193, 0.94);
  }
  .line-gray-right{
  border-right: solid 1px rgba(193, 195, 193, 0.94);
  }
  .line-gray-bottom{
  border-bottom: solid 1px rgba(193, 195, 193, 0.94);
  }
}
footer ul{
  margin-left: 0px !important;
}
footer ul li{
  list-style: none;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
}

footer ul li a{
  text-decoration: none;
  color: #333;
}
footer ul li a:hover{
  color: #9b9b9b;
}
footer h4{
  font-family:'Lato', sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.09rem;
}
@media (min-width: 640px){
  .box-content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 640px){
  .box-content{
    margin-right: auto;
    margin-left: 10px;
  }
}

.min-pad-left{
  padding-left: 0.1rem;
}
.foot-2 span{
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.foot-2 i{
  line-height: 2.5rem;
}
