@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecera{
  background-color: #171717;
  position: fixed;
  height: 30px;
  line-height: 20px;
}

.cabecera a:hover{
  text-decoration: underline;
  text-decoration-color: #fff;
}

.font-size12{
  font-size: 0.7rem;
}

.white{
  color: white;
}

.abs{
  position: absolute;
  width: 1rem;
  top: 5px;
  right: 6rem;
}

.fa-envelope {
  position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.fa-envelope:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #fff;
  font-size: 20px;
  padding-right: 1rem;
  position: absolute;
  top: -15px;
  left: 0;
}

.sliders{
  margin-top: 1.9rem;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.email-hidden{
  padding-left: 1.7rem;
}
