body {
	margin:0;
	padding:0;
}
.border-none{
	border:0;
}
.boxShadow-none{
	box-shadow: none;
}
div.p-0{
	padding: 0;
}
div.container-text{
	margin-top: 0.5em;
}
h1.product-title,
h2.price-product{
	color: #171717;
}
h4.by-product{
	font-weight: 500;
    font-size: 1.29em;
    margin-bottom:0.5rem;
}
h2.price-product{
	font-size: 1.7em;
}
h4.by-product,
a.link-by-product{
	color: #666;
}
a.link-by-product{
	text-decoration: underline;
}
a.bg-red{
	font-weight: 900;
	background-color:#CF0218;
}
span.text-above{
	font-weight: 500;
	font-size: 0.85em;
	color:#666;
}
span.text-above i{
	color:#000;
}
span.text-red{
	color:#dd0017;
	font-size: 0.9em;
}
span.text-red-bold{
	color:#dd0017;
	font-weight: bold;
}
div.mt-1{
	margin-top: 1em;
}
i.icon-margin{
	padding-right: 1em;
}
div.content-heart{
	color: red;
    padding-top: 0.5em;
}
div.containerFlex{
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
    padding-right: 4em;
    margin: 1em 0;
    color:#333;
}
a.pR-0{
    font-size: 1.07em;
    padding-left: 0;
    color: #1b1919;
    letter-spacing: 0.09em;
}

p.text-customer{
	color:#666;
	font-size: 0.9em
}
.accordionContenido{
	font-size: 0.9em;
}
button.btn-customer{
    padding-right: 2em;
    padding-left: 2em;
    color: black;
    margin-left: 1em;
}
:first-child:not(.is-active) > .accordion-title {
    border-top: 1px solid #e6e6e6;
}
div.colorGray{
	color:#4c3f3f;
	font-size: 0.9em;
}
span.text-bold{
	font-weight: bold;
	color:#000;
}
@media (max-width: 600px){
	.product-title{
		font-size: 1.8em;
	}
	ul.flex-container-mobile{
		display: flex;
		justify-content: center;
	}
	.title-customer{
    	font-size: 1.19em;
    	color: #1b1919;
    	letter-spacing: 0.09em;
    	font-weight: 300;
	}
}

@media (min-width: 1024px){
	ul.flex-container-desktop{
    	display: flex;
    	flex-direction: column;
    	height: 31em;
    	justify-content: center;
	}
	ul.flex-container-desktop>li{
		padding-bottom: 1em;
	}
	h2.title-desktop{
    	font-size: 1.8em;
    	font-weight: 300;
	}
	section#detalle-del-producto{
		padding: 0 11em;
	}
}







